@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes nav-shadow {
    0% {
      background-color: rgba(255, 255, 255, 0);
      box-shadow: none;
      backdrop-filter: blur(0px);
    }
    to {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }
  }
  
  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    @keyframes nav-shadow {
      0% {
        background-color: rgba(31, 41, 55, 0);
      }
      to {
        background-color: rgba(31, 41, 55, 0.9);
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
    }
  }
  
  nav {
    animation: nav-shadow 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }
  