<article
  class="flex items center justify-center text-gray-700 dark:text-gray-300"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#1dd05d] dark:[&>p>strong]:text-[#62fbd8] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I’m David a software developer with a passion for building scalable,
      digital experiences. My journey into tech began in 2019 when I launched my
      first e-commerce business. It was an absolute failure but it sparked my
      obsession with web development and the digital world.
    </p>

    <p>
      Through that experience, I discovered the power of coding,
      problem-solving, and creating seamless online experiences. Since then,
      I’ve dedicated myself to mastering modern development frameworks,
      optimizing user interfaces, and building applications that blend
      functionality with aesthetics.
    </p>

    <p>
      Today, I specialize in <strong
        >JavaScript, React, Next.js,
      </strong>focusing primarily on frontend development while integrating just
      the right touch of backend when needed. Whether it's crafting dynamic UIs,
      improving website performance, or bringing creative web solutions to life,
      I thrive on turning ideas into reality.
    </p>

    <p>
      I’m always eager to collaborate, learn, and push the boundaries of what’s
      possible in tech. Let’s connect!
    </p>
  </div>
</article>
