---
import ExperienceItem from "./ExperienceItem.astro"
import LinkButton from "./LinkButton.astro"

const EXPERIENCE = [
    {
        date: "2022 - Present",
        title: "Laser technician",
        company: "Taylormade Golf",
        description:
            "As a Laser Technician, I have demonstrated proficiency in creating original designs from scratch for a diverse range of industries and brands. I maintain and calibrate laser equipment to ensure optimal performance and high-quality output, while efficiently managing and tracking inventory using the Oracle system, thereby contributing to seamless logistics operations.",
    },
    {
        date: "March 2021 - July 2021",
        title: "Entrepreneurship",
        company: "ZKPets - ecommerce",
        description:
            "At Ecommerce @ZKPETS, I leveraged Klaviyo for email marketing to engage customers, nurture leads, and drive sales. I managed the entire e-commerce process from product sourcing and inventory management to order fulfillment, customer service, and financial tracking. Additionally, I conducted market research and competitive analysis to identify industry trends and opportunities, implementing data-driven strategies to optimize product listings, pricing, and marketing efforts."
    },
    {
        date: "2020 - 2021",
        title: "Freelancer",
        company: "Diaz Lopez Tile",
        description:
            "At DiazLopezTile, I collaborated with the company to transform their website, enhancing its visual appeal and functionality. I overhauled the site's UI and UX design to simplify navigation and integrated SEO strategies to improve its search engine performance. I worked with the WordPress platform to create and maintain the company's online presence.",
    }
]
---

<div class="flex flex-col items-center">
  <div>
    <ol class="relative mt-16">
        {
          EXPERIENCE.map((experience) => (
            <li class="">
              <ExperienceItem {...experience} />
            </li>
          ))
        }
      </ol>
  </div>
  <div>
    <LinkButton
    href="./Resume.pdf"
    >View Full Resume</LinkButton>
  </div>
</div>