---
import { Image } from "astro:assets";
import me from "../images/me.png";
import Badge from "./Badge.astro";
import MailIcon from "../assets/Mail.astro";
import LinkedinIcon from "../assets/LinkedIn.astro";
import SocialPill from "./SocialPill.astro";

const imageAlt = "David Guerrero";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <Image class="rounded-full shadow-lg size-16" src={me} alt={imageAlt} />
    <a
      href="https://www.linkedin.com/in/david-guerrerodiaz/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hi!, I am David Guerrero
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-[#64ffda] [&>strong]:text-[#1dd05d] [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>
      Self-taught Software Engineer with a passion for creating innovative web
      solutions.
    </strong> Specialized in developing unique web applications.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:David.GuerreroD@protonmail.com">
      <MailIcon class="size-4" />
      Contact Me
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/david-guerrerodiaz/">
      <LinkedinIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
