---
import { Image } from "astro:assets"
import me from "../images/me.png"
import Badge from "./Badge.astro"

const imageAlt = "David Guerrero"
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <Image 
            class="rounded-full shadow-lg size-16"
            src={me}
            alt={imageAlt} 
        />
        <a
            href="https://www.linkedin.com/in/david-guerrerodiaz/"
            target="_blank"
            rel="noopener"
            class="flex items-center transition md:justify-center md:hover:scale-105"
        >
            <Badge>Available to work</Badge>
        </a>
    </div>
</div>